!!!
%html
  %head
    %link{href: "/priv/css/main.css", rel: "stylesheet"}
  %body
    %form.startForm#startForm
      Введите числа а:
      = succeed ', ' do
        %input.startForm_number#numberA{ type: "text" }
      b:
      = succeed ', ' do
        %input.startForm_number#numberB{ type: "text" }
      такие, что ​ a​​ ∈  [6, 9], ​​ a+b ​∈  [11, 14].
      %input#startProgram{ type: "submit", value: "Старт" }
    .line

    -# Основная часть
    .main.invisible
      .heading
        %span#headingA.heading_number 7
        +
        %span#headingB.heading_number 4
        \=
        %span#headingSum.heading_number
          %span.question
            ?
          %input.answerInput.hidden.i-input{ type: "text", tabindex: 10 }
      .axis-container
        .arrows
          - ['arrowA', 'arrowB'].each_with_index do |arrow_id, index|
            .arrow.invisible{ id: arrow_id }
              .arrow_inputContainer
                %input.arrow_input.i-input{ type: "text", tabindex: index + 1 }
        %img.axis{ src: "/assets/images/sprite.png" }

  %script{charset: "utf-8", src: "//code.jquery.com/jquery-2.1.4.min.js", type: "text/javascript"}
  %script{charset: "utf-8", src: "/assets/js/main.js", type: "text/javascript"}
