.i-input {
    border-radius: 5px;
    height: 100%;
    width: 100%;
    padding: 0px 4px;
    border: 2px solid #cdcdcd;
    font-family: monospace;
    font-size: 16px;
    &--error {
        color: #D71414;
        font-weight: bold;
    }
    &--readonly {
        border: none;
    }
}
.startForm {
    &_number {
        width: 32px;
    }
}
.heading {
    font-size: 32px;
    font-family: monospace;
    text-align: center;
    margin-top: 30px;
    &_number {
        padding: 0px 4px;
        &--error {
            background-color: #FBA810;
            border-radius: 4px;
        }
    }
}
.line {
    width: 100%;
    border-bottom: 1px dashed black;
}
.axis-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.axis, .arrows {
    width: 875px; // fixed width
}
.arrows {
    position: relative;
    display: inline-block;
    height: 80px;
    margin-bottom: -23px;
}
.arrow {
    position: absolute;
    bottom: 0;
    transition: 1s opacity;
    height: 25px;
    width: 78px;
    background: url('../../assets/images/arrow.svg') 100% 100% no-repeat;
    left: 35px;
    background-size: cover;
    &_inputContainer {
        display: inline-block;
        position: relative;
        top: -30px;
        font-family: monospace;
        font-size: 16px;
    }
    &_input {
        width: 9px;
        height: 1.25em;
    }
}
.answerInput {
    font-size: 32px;
    width: 40px;
}
// utils
.hidden {
    display: none;
}
.invisible {
    opacity: 0;
}